= content_for(:og_tags) do
  %meta{:content => @description.tweak.name, :name => "og:title"}/
  %meta{:content => @description.text, :name => "og:description"}/

.panel.panel-default
  .panel-body
    %div{class: dom_id(@description)}
      = render partial: 'shared/description', locals: {description: @description}