%h4
  =@title.name

.panel.panel-default
  .panel-body
    = render partial: 'titles/tweak_builder'

.row
  .col-md-12
    .panel.panel-success
      .panel-heading
        Tweaks
      .panel-body
        %ul.list-group
          - @title.tweaks.each do |tweak|
            %li.list-group-item.list-group-striped{id: dom_id(tweak)}
              = render partial: 'titles/tweak', locals: {tweak: tweak}
            
