#draggable-tweak-characters{
  margin-bottom: 20px;
  clear: both;
}

#draggable-tweak-characters .tweak-character{
  cursor: move;
}

.tweak-character{
  width: 50px;
  text-align:center;
  background-color: #f17735;
  color: #000;
  float: left;
  margin: 5px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px #696969;
  font-size: 40px;
}

.tweak-character.clickable{
  cursor: pointer;
  box-shadow: none;
}

.tweak-character.clickable:hover{
  opacity: 0.7;
}

.remove-characters-container{
  margin-top: 30px;
}
.remove-character{
  border: 1px dashed #696969;
  font-size: 20px;
  line-height: 30px;
  padding: 20px 0;
  text-align: center;
  margin:15px 5px;
  border-radius: 8px;
  background-color: #fff0f0;
}