#draggable-tweak-characters{
  margin-bottom: 20px;
  clear: both;
}

.tweak-character{
  width: 50px;
  text-align:center;
  background-color: #feba13;
  color: #000;
  float: left;
  margin: 5px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px #696969;
  font-size: 40px;
}

.tweak-character.clickable:hover{
  cursor: pointer;
  box-shadow: none;
  transition: all 0.2s;
  opacity: 0.7;
}
