.row
  - @categories.each do |category|
    .col-md-4
      .card
        .card-block
          %h4.card-title= category.name
          %p Description about #{category.name}
          = link_to "Let's play #{category.name}", category_path(category), class: 'btn btn-primary'
