.row
  - @categories.each do |category|
    .col-md-2
      .panel.panel-default
        .panel-body
          %h4.card-title.text-center= category.name
          = link_to "LetterLoose!", category_path(category), class: 'btn btn-primary btn-block'

.row
  .col-md-12
    %h2
      Recent Tweaks
  .col-md-12
    %ul.list-group
      - @recent_tweaks.each do |tweak|
        %li.list-group-item
          %strike= tweak.title.name
          = link_to tweak.name, title_tweak_path(tweak.title, tweak)

      - if @recent_tweaks.empty?
        None? You're funnier than that!
